[core]
  editor = nvim

[pull]
  rebase = true

[init]
  defaultBranch = main

[alias]
  pf = push --force-with-lease

# Identity-based configuration switching
# Personal
[includeIf "gitdir:~/personal/"]
  path = ~/.gitconfig-personal
[includeIf "gitdir:~/dotfiles/"]
  path = ~/.gitconfig-personal
[includeIf "gitdir:~/TUM/Master/1FS/DevOps/"]
  path = ~/.gitconfig-personal

# Work
[includeIf "gitdir:~/source/"]
  path = ~/.gitconfig-reply
[includeIf "gitdir:~/work/"]
  path = ~/.gitconfig-reply

# TUM GitLab
[includeIf "gitdir:~/TUM/Master/1FS/ParProg/"]
  path = ~/.gitconfig-tum
